<!-- SIN ion-header / ion-content -->
<div class="step-container" *ngIf="steps[currentStep] as step">
  <h2 class="arcade-title">Escape Galáctico</h2>

  <p class="step-text">{{ step.text }}</p>

  <div *ngIf="step.options.length > 0; else endMessage">
    <button
      class="option-btn"
      *ngFor="let option of step.options"
      (click)="changeStep(option.next)"
    >
      {{ option.text }}
    </button>
  </div>

  <ng-template #endMessage>
    <p
      class="end-message"
      [ngClass]="{
        'end-message-win': currentStep === 'win',
        'end-message-lose': currentStep !== 'win'
      }"
    >
      {{
        currentStep === 'win'
          ? '¡Escapaste con éxito de la nave! 🛸'
          : '¡Fin del juego! La nave colapsó. 💥'
      }}
      <br /><br />Tu puntaje: <strong>{{ score }}</strong>
    </p>
    <p class="end-message">¿Querés volver a empezar?</p>
  </ng-template>
  <br><br>
<div class="reiniciar-container">
  <ion-button fill="solid" color="warning" (click)="reiniciarJuego()">Reiniciar</ion-button>
<div class="back-home-container">
  <ion-button fill="outline" (click)="volverHome()">Volver al inicio</ion-button>
</div>
</div>

