<ion-content [fullscreen]="false" class="splash-bg">
  <div class="wrap">
    <header class="name">MenuYa</header>

    <div class="logo-frame">
      <img src="assets/brand/app-icon.png" alt="Icono" class="logo" />
      <div class="glow"></div>
    </div>

    <footer class="division">
      <div class="nombres">Santiago Amato - Jorge García - Mauricio Rojas</div>
      <div class="grupo">Div 341-2</div>
    </footer>

    <div class="particles" aria-hidden="true">
      <span *ngFor="let p of dots"></span>
    </div>
  </div>
</ion-content>
